/* override .flexContainer */
.flexContainer {
    max-width: 900px;
    margin: 20px auto;
}

#about {
    align-self: stretch;
    min-width: 0;
    /* max-width: 800px; */
    margin: 20px 0;
    padding: 40px;
}

