.verticalAds {
    padding: 0;
    width: 360px; /* Set the width */
    min-height: 500px; /* Set the height */
    flex: 0 0 auto; /* Prevent the item from growing or shrinking */
}

.horizontalAds  {
    align-self: stretch;
    /* min-width: 360px;
    max-width: 900px; */
    min-height: 40px;
}