
.leftColumn {
    flex: 1;
}
.middleColumn {
    flex: 3;
}
.rightColumn {
    flex: 1;
}

#currentDay{
    text-align: center;
}

#currentDate{
    text-align: center;
}

#currentTime{
    text-align: center;
}




@media screen and (max-width: 1300px) {
    .flexContainer {
        flex-wrap: wrap;
    }

    .leftColumn {
        order: 2;
    }
    .middleColumn {
        order: 1;
        min-width: 700px;
    }
    .rightColumn {
        order: 3;                
    }    
}

@media screen and (max-width: 768px) {
    .flexContainer {
        flex-direction: column;
    }
    .leftColumn {
        order: 2;
    }
    .middleColumn {
        order: 1;
        min-width: 350px;
    }
    .rightColumn {
        order: 3;
    }
    
}